<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.colldesign.comment.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.colldesign.comment.vo.CommentVo">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="document_id" property="documentId"/>
        <result column="document_type" property="documentType"/>
        <result column="workspace_id" property="workspaceId"/>
        <result column="version_id" property="versionId"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="resolved_time" property="resolvedTime"/>
        <result column="resolved_user_id" property="resolvedUserId"/>
        <result column="reopened_time" property="reopenedTime"/>
        <result column="reopened_user_id" property="reopenedUserId"/>
        <result column="state" property="state"/>
        <result column="reply_count" property="replyCount"/>
        <result column="mark_id" property="markId"/>
        <result column="mark_type" property="markType"/>
        <result column="attachment_id" property="attachmentId"/>
        <result column="thumbnail_id" property="thumbnailId"/>


        <result column="message" property="message"/>
        <result column="element_occurrences" property="elementOccurrences"/>
        <result column="element_query" property="elementQuery"/>
        <result column="angle" property="angle"/>
        <result column="camera_viewport" property="cameraViewport"/>
        <result column="is_perspective" property="isPerspective"/>
        <result column="view_matrix" property="viewMatrix"/>
    </resultMap>


    <select id="getCommentsByPage" resultMap="BaseResultMap">
        select * from tb_comment_index t1 left join tb_comment_info t2 on t1.id=t2.id
        <where>
            t1.document_id=#{commentQuery.documentId}
            <if test="commentQuery.parentId==null or commentQuery.parentId==''">
                and (t1.parent_id is null || t1.parent_id='')
            </if>
            <if test="commentQuery.parentId!=null and commentQuery.parentId!=''">
                and t1.parent_id=#{commentQuery.parentId}
            </if>
            <if test="commentQuery.filter!=null and commentQuery.filter!=''">
                --已完成的
                <if test="commentQuery.filter=='1'">
                    and t1.state = '1'
                </if>
                --已打开的
                <if test="commentQuery.filter=='2'">
                    and (t1.state = '0' or t1.state='2')
                </if>
            </if>
        </where>
        order by t1.create_time
    </select>

</mapper>